.banner{
    background :  linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);

    width: 1320px;
height: 600px;
flex-shrink: 0;
border-radius: 16px;
 background-position: center;
 margin: 50px 140px;  
   
}
    
    
 .ban-title{
    color: #FFF;
    text-align: center;
    padding: 177px 530px  ;
    padding-bottom: 0px ;
    font-size: 32px; 
    font-family: 'Merriweather', serif;
 }

   
.ban-discription{
    color: #FFF;
text-align: center;
padding:344px 177px ; 
padding-top: 0px;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.discount{
    text-align: center;
}
.off{
    color: #F00;
font-family: Inter;
font-size: 88px;
font-weight: 700;
padding: 0px 8px  ;
}
.holy{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
padding-bottom: 0px;
}
.all{
    color: #070211;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.sec-ban{ 
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
     background-position: center;
     margin: 50px 140px;  
     
     .chid{ 
        float: right;
        padding: 68px 138px 68px 0px;
       }
    
    
}
.Welcome{
    color: #FFF;
    padding: 126px 552px 0px 126px ;

    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    



}
 .mid-part{color: rgba(255, 255, 255, 0.80);
    padding: 0px 0px 0px 126px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.but-end{
    color: #FFF;
    padding: 0px 0px 0px 158px;
    

    font-family: Inter;
    font-size: 20px;
   
    font-weight: 700;
    text-transform: uppercase;
}
.best{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-weight: 500;
padding: 0px 0px 0px 140px;
}
.our{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 0px 0px 0px 140px;
}
.dis{
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 0px 0px 140px;
} 

.part-i{
    padding: 0px 0px 0px 116px;

}

.part-i li{
    width: 424px;
    height: 450px;
    display: inline;
    padding: 0px 24px 24px 0px;
}
.part-ii{
    padding: 0px 0px 0px 116px;
    
}
.part-ii li{   
    width: 424px;
    height: 450px;
    display: inline;
    padding: 0px 24px 24px 0px;

}
.end{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: 120px 140px;
}
.icon-1{
    padding: 80px 585px 0px 585px;
}
.end-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    
}
.end-dis{
    color: rgba(7, 2, 17, 0.60);
    
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    text-align: center;
    padding: 0px 212px;
}
.end-but{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;

    text-transform: capitalize;   
    background: #F00;
    border-radius: 0px 50px 50px 0px;
    width: 210px;
    height: 77px;
    position: absolute;
}
.end-tx{
    
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

    width: 438px;
    height: 72px;
    background: #FFF;
    border-radius: 50px 0px 0px 50px;
}

.foot{
    background: #070211;
    width: 1600px;
    height: 609px;
}

.foot-add{

    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; 
    text-align: left;
    width: 375px;
    height: 70px;
    padding: 120px 0px 50px 20px;


}
div{

  


}

.div1{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    width: 195px;
    float: right;
    padding: 0px 290px 0px 0px ;
    
}
.div2{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    width: 210px;
}
.part-iii {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.endd{
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
